{% extends "parent/main.html" %}

{% block title %}
{{ super }}  All Posts
{% endblock %}

{% block body %}
    {% include "partials/carousel.html" %}
        <h1>All Posts</h1>
        {% if latest_posts_list %}
            <ul>
                {% for post in latest_posts_list %}
                    <!-- <li><a href="/blog/{{post.id}}">{{post.slug}}</a></li> -->
                    <li><a href="{% url 'blog_urls:ditail' post.id %}">{{post.slug}}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p style="color: tomato;">No post is available.</p>
        {% endif %}
{% endblock %}

<!-- <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>All Posts</title>

    </head>
    <body>
        <h1>All Posts</h1>
        {% if latest_posts_list %}
            <ul>
                {% for post in latest_posts_list %}
                    <li><a href="/blog/{{post.id}}">{{post.slug}}</a></li>
                    <li><a href="{% url 'blog_urls:ditail' post.id %}">{{post.slug}}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p style="color: tomato;">No post is available.</p>
        {% endif %}
    </body>
</html> -->